<%- include("partials/head.ejs") %>
<%- include("partials/nav.ejs") %>
  <br>
  <h1><%= about %></h1>
  </br>

  <main id="contenedor-get">
    <h2>Consultar Producto por ID</h2>
    <form id="buscarProductoForm" class="search-form">
      <label for="idProductoConsulta">ID del Producto:</label>
      <input type="number" id="idProductoConsulta" name="idProductoConsulta" required min="1">
      <button type="submit">Buscar Producto</button>
    </form>

    <div id="productoEncontradoInfo" class="producto-info" style="display: none;">
      <h3>Detalles del Producto:</h3>
      <ul id="detallesProductoLista"></ul>
    </div>

    <hr> <h2>Listado de Productos</h2>
    <div id="productos-container">
      <ul id="productos-lista">
      <% products.forEach(producto => { %>
        <div class="producto">
          <h3><%= producto.nombre %></h3>
          <img src="<%= producto.imagen %>" alt="<%= producto.nombre %>" />
          <p>ID: <%= producto.id %></p>
          <p>Precio: $<%= producto.precio %></p>
          <p>Descripción: <%= producto.categoria %></p>
        </div>
      <% }) %>
      </ul>
    </div>
  </main>
<%- include("partials/footer.ejs") %>

<script src="/js/get.js" defer></script>